*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
app/src/androidTest/
app/src/test/
licenseview/build
licenseview/libs/
licenseview/src/androidTest/
licenseview/src/test/
photochooser/build
photochooser/libs/
photochooser/src/androidTest/
photochooser/src/test/
